
@{
    ViewData["Title"] = "Cadastro";
}
<div class="col-md-6">
    <h1>Cadastro</h1>
    <label>Inform seu Código</label>
    <input class="form-control" id="cdusu" />
    <label>Informe seu Nome</label>
    <input class="form-control" id="nmusu" />
    <label>Informe o Código do Centro de Controle</label>
    <input class="form-control" id="cncct" />
    <br />
    <button class="btn btn-success" id="btn">Adicionar</button>
</div>
<script src="~/js/Usuario/Cadastro.js"></script>