<h1>Cadastro</h1>

<div class="col-md-6">
    <label>Modelo</label>
    <input class="form-control" id="modelo" />
    <br />
    <label>Placa</label>
    <input class="form-control" id="placa" />
    <br />
    <label>Observação</label>
    <input class="form-control" id="obs" />
    <br />
    <button id="salvar" class="btn btn-success">Salvar</button>

</div>
<script src="~/js/Estacionamento/Cadastro.js"></script>