<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <label>Informe Empresa</label>
    <input id="cnemp" />

    <label>Informe Nome</label>
    <input id="cdusu" />

    <button id="salvar">Salvar</button>
</body>
</html>
<script src="~/js/Usuario/Create.js"></script>