
@{
    ViewData["Title"] = "Index";
}

<h2>Lista De Usuários</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cnemp</th>
            <th>Cdusu</th>
            <th>Nmusu</th>
            <th>Essitusu</th>
            <th>Cncct</th>
        </tr>
    </thead>
    <tbody id="linhas">
        <botton href="Usuario/Create">Novo Usuario</botton>
    </tbody>
</table>

<script src="~/js/Usuario/Index.js"></script>