
@{
    ViewData["Title"] = "Cadastro";
}

<h2>Cadastro</h2>
<div class="col-md-6">
    <label>Código</label>
    <input class="form-control" id="cdusu" />
    <br />
    <label>Nome</label>
    <input class="form-control" id="nmusu" />
    <br />
    <label>Centro de Controle</label>
    <input class="form-control" id="cncct" />
    <br />
    <button id="salvar" class="btn btn-success">Salvar</button>
</div>

<script src="~/js/Usuario/cadastro.js"></script>