
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a href="/Usuario/Cadastro" class="btn btn-info">Adicionar</a>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Empresa</th>
            <th>Status</th>
            <th>Ação Edição</th>
            <th>Ação Exclusão</th>
        </tr>
    </thead>
    <tbody id="linhas">

    </tbody>
</table>

<script src="~/js/Usuario/index.js"></script>
