
@{
    ViewData["Title"] = "Index";
}

<style>
    .error{
        border-color: red;
    }   
</style>

<div class="col-md-6">
    <h2>HTML Exemplo</h2>

    <label>Usuario</label>
    <input class="form-control" id="usuario" />
    <label>Senha</label>
    <input class=" form-control" type="password" id="senha" />
    <br />
    <button class=" btn btn-primary" id="enviar">Enviar</button>

</div>
<script src="~/js/Exemplo/Index.js"></script>